<section class="football" data-section="game">
	<div class="container football__container">
		<h2 class="football__title">Футбол</h2>
		<div class="football__place">
			<img
				class="football__ball reset-position"
				src="./images/football-ball.webp"
				alt="BALL"
			/>
			<img class="football__gate" src="./images/football-gate.png" alt="" />
			<p class="football__count">
				Рахунок <span class="football__count-number">0</span>
			</p>
		</div>
		<div class="football__start"></div>
		<button class="football__button-start">Запустити гру</button>
	</div>
</section>
